Repository miadabdi/streamy_process_node: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write -l, eslint, prettier --ignore-unknown

.lintstagedrc:

{
	"*.ts": ["prettier --write -l", "eslint"],
	"*.{js,jsx,css,less,scss,sass,json,md,yml}": "prettier --ignore-unknown"
}

feat(video): added video process workflow
  package-lock.json
  package.json
  src/app.module.ts
  src/common/constants/constants.ts
  src/common/helpers/handle-progress.ts
  src/common/interfaces/file.interface.ts
  src/common/pipes/sharp-pipe.pipe.ts
  src/common/services/ffprobe-video-info.ts
  src/externalModules/config.module.ts
  src/logger/logger.service.ts
  src/minio-client/minio-client.service.ts
  src/queue/consumer.service.ts
  src/video/interface/video-process-msg.interface.ts
  src/video/video-process.service.ts
  src/video/video.module.ts
  src/video/video.service.ts
Due: prettier --write -l, eslint, prettier --ignore-unknown

feat(video): sending video process status and logs into queue
  .husky/commit-msg
  .husky/pre-commit
  src/common/constants/constants.ts
  src/video/enum/index.ts
  src/video/enum/video-processing-status.enum.ts
  src/video/interface/index.ts
  src/video/interface/set-video-status-msg.interface.ts
  src/video/video-process.service.ts
  src/video/video.service.ts
Due: prettier --write -l, eslint

feat(video): add processing subtitle and moving files to minio
  src/video/interface/video-process-msg.interface.ts
  src/video/video-process.service.ts
  src/video/video.service.ts
Due: prettier --write -l, eslint

feat(video): add subtitle m3u8 uri into master.m3u8
  package-lock.json
  package.json
  src/video/video-process.service.ts
  src/video/video.service.ts
Due: prettier --write -l, eslint, prettier --ignore-unknown

feat(srs): add live module
  package-lock.json
  package.json
  src/app.module.ts
  src/live/dto/on-publish.dto.ts
  src/live/live.controller.ts
  src/live/live.module.ts
  src/live/live.service.ts
  src/main.ts
  src/video/video.service.ts
Due: prettier --write -l, eslint, prettier --ignore-unknown

chore(readme): updated readme
  README.md
  Streamy.drawio.png
Due: prettier --ignore-unknown

chore(readme): update readme
  README.md
Due: prettier --ignore-unknown

feat(service): add all events to live service
  src/live/dto/index.ts
  src/live/dto/on-play.dto.ts
  src/live/dto/on-stop.dto.ts
  src/live/dto/on-unpublish.dto.ts
  src/live/live.controller.ts
  src/live/live.service.ts
Due: prettier --write -l, eslint

feat(live): process live messages from queue
  src/common/constants/constants.ts
  src/live/dto/index.ts
  src/live/dto/on-play.dto.ts
  src/live/dto/on-publish.dto.ts
  src/live/dto/on-stop.dto.ts
  src/live/dto/on-unpublish.dto.ts
  src/live/interface/index.ts
  src/live/interface/live-process-msg.interface.ts
  src/live/live.controller.ts
  src/live/live.module.ts
  src/live/live.service.ts
  src/logger/winston.ts
  src/video/video-process.service.ts
  src/video/video.module.ts
Due: prettier --write -l, eslint

fix(queue): add ack for queue messages
  src/queue/consumer.service.ts
Due: prettier --write -l, eslint

chore(readme): update install instructions
  .gitignore
  README.md
Due: prettier --ignore-unknown

chore(readme): added .env.example and updated readme
  .env.example
  README.md
Due: prettier --ignore-unknown

chore(package.json): updated packages
  package-lock.json
  package.json
Due: prettier --ignore-unknown

chore(deps): upgrade to nestjs 11 and prune unused deps
  .eslintrc.js
  eslint.config.js
  package-lock.json
  package.json
  setup.sh
  src/logger/nest-like-console-format.ts
  src/logger/winston.ts
  src/minio-client/minio-client.service.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
Due: prettier --write -l, eslint, prettier --ignore-unknown

fix(video): resolve ffmpeg and ffprobe paths from env
  .env.example
  src/common/services/ffprobe-video-info.ts
  src/externalModules/config.module.ts
  src/video/video-process.service.ts
Due: prettier --write -l, eslint

fix(queue): reconnect consumers and dead-letter failed messages
  src/queue/consumer.service.ts
  src/queue/producer.service.ts
Due: prettier --write -l, eslint

feat(health): add health endpoints and swagger
  src/app.module.ts
  src/health/health.controller.spec.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/main.ts
  src/video/video.module.ts
  src/video/video.service.ts
Due: prettier --write -l, eslint

feat(docker): add multi-stage dockerfile
  .gitignore
  Dockerfile
Due: none

docs: real run options, env table, health endpoints, queue contract
  README.md
  TODO.md
Due: prettier --ignore-unknown

fix(video): spawn ffmpeg with an argument array and no shell
  src/live/live.service.ts
  src/video/ffmpeg-args.spec.ts
  src/video/ffmpeg-args.ts
  src/video/video-process.service.ts
Due: prettier --write -l, eslint

feat(queue): use the shared @miadabdi/streamy-queues package
  Dockerfile
  package-lock.json
  package.json
  scripts/update-shared.sh
  src/common/constants/constants.ts
  src/queue/consumer.service.ts
  src/queue/producer.service.ts
  vendor/miadabdi-streamy-queues-0.0.1.tgz
Due: prettier --write -l, eslint, prettier --ignore-unknown

docs: move fixed items to done in todo; copy vendor before npm install in image
  Dockerfile
  TODO.md
Due: prettier --ignore-unknown

feat(live): upload hls segments continuously during the broadcast
  .env.example
  src/externalModules/config.module.ts
  src/live/live-uploader.spec.ts
  src/live/live-uploader.ts
  src/live/live.module.ts
  src/live/live.service.ts
Due: prettier --write -l, eslint

fix(live): key hls output by integer id, retry empty pulls, guard stalls
  src/live/live.service.ts
  src/video/ffmpeg-args.ts
Due: prettier --write -l, eslint

docs: live hls served during broadcasts; record encode-tail note
  TODO.md
Due: prettier --ignore-unknown

feat(video): hardware-first transcoding with software fallback
  .env.example
  src/video/encoder-plan.spec.ts
  src/video/encoder-plan.ts
  src/video/ffmpeg-args.spec.ts
  src/video/ffmpeg-args.ts
  src/video/video-process.service.ts
Due: prettier --write -l, eslint

feat(queue): surface dead-letter depth in readiness
  src/health/health.controller.spec.ts
  src/health/health.controller.ts
  src/queue/dead-letter.service.ts
  src/queue/queue.module.ts
Due: prettier --write -l, eslint

ci: publish docker images to docker hub
  .github/workflows/image-builder-dev.yml
  .github/workflows/image-builder-stable.yml
Due: prettier --ignore-unknown

docs: hardware encoding notes
  TODO.md
Due: prettier --ignore-unknown

fix(minio): tolerate storage lag at boot
  src/minio-client/minio-client.service.ts
Due: prettier --write -l, eslint

chore(deps): update to latest — amqplib 2, amqp-connection-manager 5, nestjs 11.2
  .npmrc
  Dockerfile
  package-lock.json
  package.json
  setup.sh
Due: prettier --ignore-unknown

feat(ffmpeg): compile ffmpeg 8.1.2 with hardware acceleration in-image
  Dockerfile
Due: none

fix(docker): runtime libs for the compiled ffmpeg
  Dockerfile
Due: none

test: migrate from jest to vitest
  package-lock.json
  package.json
  src/health/health.controller.spec.ts
  src/video/encoder-plan.spec.ts
  vitest.config.ts
Due: prettier --write -l, eslint, prettier --ignore-unknown

feat(queue): message shapes come from the shared package
  package-lock.json
  package.json
  src/live/interface/live-process-msg.interface.ts
  src/video/interface/set-video-status-msg.interface.ts
  src/video/interface/video-process-msg.interface.ts
  vendor/miadabdi-streamy-queues-0.0.1.tgz
  vendor/miadabdi-streamy-queues-0.0.2.tgz
Due: prettier --write -l, eslint, prettier --ignore-unknown

fix(video): accept string bucket names from the shared contract
  src/video/video.service.ts
Due: prettier --write -l, eslint

test: m3u8 surgery and process orchestration specs
  src/video/m3u8.spec.ts
  src/video/process-callback.spec.ts
Due: prettier --write -l, eslint

feat(health): surface active encoder in readiness
  src/health/health.controller.spec.ts
  src/health/health.controller.ts
  src/video/video-process.service.ts
Due: prettier --write -l, eslint
